[flake8]
ignore = D203
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # These contain non-python
    config,
    templates,
    static,
    *.log,
    *.md,
    .gitignore,
    *.egg-info,
    *.json
max-line-length = 88
max-complexity = 10