*{
    font-family: Helvetica, Arial,sans-serif;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}
div {
    max-width: 100%;
    max-height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 3em 1fr 3em;
    grid-template-rows: 6em 1fr 3em;
    grid-template-areas: 
        "header header header"
        "leftpad main rightpad"
        "footer footer footer";
    min-height: 20em;
    background-color: rgb(51, 51, 51);
    height: 100%;
}
.header {
    grid-area: header;
    background-color: rgb(31, 31, 31);
    color: rgb(235, 230, 224);
    padding: 1em;
}
.main {
    grid-area: main;
    background-color: rgb(51, 51, 51);
    color: rgb(235, 230, 224);
    padding: 1em;
}
.footer {
    grid-area: footer;
    background-color: rgb(31, 31, 31);
    color: rgb(235, 230, 224);
    padding: 1em;
}
.treenode {
    color: rgb(235, 230, 224);
    display: grid;
    background-color: rgb(65, 65, 65);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(42, 42, 42);
    padding-left: 0.5em;
    margin-left: 0.5em;
    height: auto;
}
.treeinput {
    color: rgb(65, 65, 65);
    display: grid;
    background-color: rgb(235, 230, 224);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(61, 61, 61);
    padding-left: 0.5em;
    margin-left: 0.5em;
    height: auto;
    width: auto;
}
.btn{
    display: inline-block;
    color: rgb(30, 30, 30);
    background-color: rgb(190, 190, 190);
    font-weight: 600;
    width: auto;
    padding: 1em;
    min-width: 5em;
    min-height: 2em;
}
.btn-selected {
    color: rgb(30, 30, 30);
    background-color: rgb(226, 226, 226);
}
#buttonbar {
    height: auto;
}




