{% extends "base.html" %}
{% block content %}
    <div class="header"><h1>{{title}}</h1><h3>  Version: {{version}}</h3></div>
    <div class="main", id="indexMain">
        <button id="relbtn"></button>
        <script>
            var btn = document.getElementById("relbtn")
            btn.addEventListener("click", showTree)
        </script>
        <h3>  Server started: {{time_started}}</h3>
        <div id="showModel"></div>
    </div>
    <div class="footer"><h4>PTM Electronics 2020</h4></div>
{% endblock %}