body    
    {
        background-color: #7c95a5;
        font-family: verdana;
    }
h1  
    {
        color: rgba(34, 34, 34, 0.68);
        font-weight: 1200;
    }
h3
    {
        color: rgb(173, 77, 77);
        font-weight: 200;
    }
h4
    {
        color: rgb(70, 70, 70);
        font-weight: 200;
    }